<div class="main">
<div class="sidemenu">
  <%= render 'layouts/sidemenu'%>
</div>

<div class="center">
<%= turbo_frame_tag "center" do%> 
<%end%>
<% @posts.each do |post|%>
<%= turbo_frame_tag post do%>
  <%=render post%>
  <%end%>
  <%end%> 
</div>


<div class="happenings">
  <%= render 'layouts/happenings'%>
</div>
</div>
