<div class="post">
  <div class="author">
    <% if post.user.profile_picture.attached? %>
    <%= image_tag post.user.profile_picture, class: 'profile_image'%>
    <%else%>
    <img src="../assets/placeholder_avatar.png" alt="" class="profile_image">
    <%end%>
    <%= link_to "#{post.user.name} #{post.user.surname}", user_path(post.user), data: { turbo: false } %>
  </div>
<div class="post_body">
<%=post.body%>
</div>
<div class="post_images">
<% post.images.each do |img|%>
<% if post.images.count == 1%>
<%= image_tag img.variant(resize_to_limit: [600,600])%>
<% elsif post.images.count == 2 %>
<%= image_tag img.variant(resize_to_limit: [300,300])%>
<% elsif post.images.count > 2 && post.images.count < 7%>
<%= image_tag img.variant(resize_to_limit: [200,200])%>
<%else%>
<%end%>
<%end%>
</div>
<hr />
<%= turbo_frame_tag "likes",locals: {post: post }, src: post_likes_path(post) do%>
  <%end%>


<div class="comments">
  <div class="comment_input_field">
    <div class="author">
      <% if post.user.profile_picture.attached? %>
      <%= image_tag post.user.profile_picture, class: 'profile_image'%>
      <%else%>
      <img src="../assets/placeholder_avatar.png" alt="" class="profile_image">
      <%end%>
    </div>
    
  <%= render partial: 'comments/form', locals: { post: post } %>
  </div>

  <div id="comments_for_post_<%=post.id%>">
    <%= render post.comments.order(id: :desc) %>
  </div>
</div>
</div>
