<div class="post">
  <div class="author">
    <% if post.user.profile_picture.attached? %>
    <%= image_tag post.user.profile_picture, class: 'profile_image'%>
    <%else%>
    <img src="../assets/placeholder_avatar.png" alt="" class="profile_image">
    <%end%>
    <%= post.user.name%>
  </div>
<div class="post_body">
<%=post.body%>
</div>
<div class="post_images">
<% post.images.each do |img|%>
<% if post.images.count == 1%>
<%= image_tag img.variant(resize_to_limit: [600,600])%>
<% elsif post.images.count == 2 %>
<%= image_tag img.variant(resize_to_limit: [300,300])%>
<% elsif post.images.count > 2 && post.images.count < 7%>
<%= image_tag img.variant(resize_to_limit: [200,200])%>
<%else%>
<%end%>
<%end%>
</div>
<% like = current_user.likes.find_by(post: post)%>
<% if like.nil? %>
<form action="/likes" method="post">
  <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token  %>">
  <input type="hidden" name="like[post_id]" value= " <%= post.id %>">
  <button> <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></button>
</form>
<%else %>
<form action="<%= likes_path(like)%>" method="post">
  <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token  %>">
  <input type="hidden" name="_method" value= "DELETE">
<button> <svg width="40px" height="40px" viewBox="0 0 24 24" color= "blue" fill="blue" xmlns="http://www.w3.org/2000/svg">
<path d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></button>
<%end%>
<div class="comments">
  <%# <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 10V20M8 10L4 9.99998V20L8 20M8 10L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20L8 20" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg> %>
  Comment section here
  <%= render post.comments.order(id: :desc) %>
  <%= render partial: 'comments/form', locals: { post: post } %>
</div>
</div>
